<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>

    <h3>Pollz Admin Page</h3>

    <form action="/logout" method="post">
        <button type="submit">LogOut</button>
    </form>
    <br/>

    View all registered users:
    <form action="/view-all-users" method="get">
      <button type="submit">View all users</button>
    </form>
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>password</th>
            <th>country</th>
            <th>city</th>
            <th>zip</th>
        </tr>
        {{#allusers}}
        <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>{{password}}</td>
            <td>{{country}}</td>
            <td>{{city}}</td>
            <td>{{zip}}</td>
            <td>
              <form action="/admin" method="post">
                <button type="submit">Clear</button>
            </form>
          </td>
        </tr>
    </table>
    {{/allusers}}



    {{#next}}
    <form action="/view-all-users" method="get">
      <input type="hidden" value="1" name="offset"/>
      <button type="submit">Next</button>
    </form>
    <!--<a href="/?offset={{.}}">next</a>-->
    {{/next}}

    {{#previous}}
    <form action="/view-all-users" method="get">
        <input type="hidden" value="-1" name="offset"/>
        <button type="submit">Previous</button>
    </form>
    {{/previous}}

    {{#areUsers}}
    {{.}}
    {{/areUsers}}
    <br/>

    Find user by username:
    <form action="/find-user-username" method="post">
        <input type="text" placeholder="username" name="username"/>
        <button type="submit">Submit</button>
    </form>
    <br/>

    Selected user:
    <table>
        <tr>
          <th>User ID</th>
          <th>User name</th>
          <th>Country</th>
          <th>City</th>
          <th>Zip</th>
        </tr>
    {{#selectedUser}}
    <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{country}}</td>
        <td>{{city}}</td>
        <td>{{zip}}</td>
        <td>
          <form action="/admin" method="post">
            <button type="submit">Clear</button>
        </form>
      </td>
        <!-- need to get the polls assoc with user: poll count? -->
    </tr>
    {{/selectedUser}}
  </table>
  <br/>
    Update user information:
    <!-- this is update profile route -->
    <form action="/update-user-info" method="post">
        <input type="text" placeholder="User ID" name="userid"/>
        <input type="text" placeholder="Enter your country" name="country"/>
        <input type="text" placeholder="Enter your city" name="city"/>
        <input type="text" placeholder="enter your zip" name="zip"/>
        <button type="submit" id="button">Update profile information</button>
    </form>
    <br/>
    {{#message}}
    {{.}}
    {{/message}}
    <br/>

    Delete user:
    <form action="/delete-user" method="post">
        <input type="text" placeholder="User ID" name="useridString"/>
        <button type="submit">Delete user</button>
    </form>
    <br/>

    View all polls:
    <form action="/view-all-polls" method="get">
        <button type="submit">View all polls</button>
    </form>
    <br/>

    <div>
        <table>
            <tr>
                <th>poll id</th>
                <th>poll name</th>
                <th>poll topic</th>
                <th>response A</th>
                <th>response B</th>
                <th>response C</th>
                <th>response D</th>
                <th>response E</th>
                <th>response F</th>
            </tr>
            {{#poll}}
            <tr>
                <td>{{id}}</td>
                <td>{{pollName}}</td>
                <td>{{pollTopic}}</td>
                <td>{{responseA}}</td>
                <td>{{responseB}}</td>
                {{#responseC}}<td>{{.}}</td>{{/responseC}}
                {{#responseD}}<td>{{.}}</td>{{/responseD}}
                {{#responseE}}<td>{{.}}</td>{{/responseE}}
                {{#responseF}}<td>{{.}}</td>{{/responseF}}
                <td>
                  <form action="/admin" method="post">
                    <button type="submit">Clear</button>
                </form>
              </td>
            </tr>
            {{/poll}}
        </table>

    </div>
    <br/>
    {{#noPolls}}
    {{.}}
    {{/noPolls}}
    <br/>

  <div>
    Find poll by user ID:
    <form action="/find-poll-by-username" method="post">
        <input type="text" placeholder="User ID" name="userid"/>
        <button type="submit">Submit</button>
    </form>
    <br/>
  </div>
  <div>
    <table>
      <tr>
          <th>poll id</th>
          <th>poll name</th>
          <th>poll topic</th>
          <th>response A</th>
          <th>response B</th>
          <th>response C</th>
          <th>response D</th>
          <th>response E</th>
          <th>response F</th>
      </tr>
      {{#pollUserID}}
      <tr>
          <td>{{id}}</td>
          <td>{{pollName}}</td>
          <td>{{pollTopic}}</td>
          <td>{{responseA}}</td>
          <td>{{responseB}}</td>
          {{#responseC}}<td>{{.}}</td>{{/responseC}}
          {{#responseD}}<td>{{.}}</td>{{/responseD}}
          {{#responseE}}<td>{{.}}</td>{{/responseE}}
          {{#responseF}}<td>{{.}}</td>{{/responseF}}
          <td>
            <form action="/admin" method="post">
              <button type="submit">Clear</button>
          </form>
        </td>
      </tr>
      {{/pollUserID}}
    </table>
  </div>
    <br/>
    {{#notFound}}
    {{.}}
    {{/notFound}}

  Remove all polls by a user:
  <form action="/remove-users-polls" method = "post">
    <input type="text" placeholder="User ID" name="useridString"/>
    <button type="submit">Submit</button>
  </form>
  {{#pollsRemoved}}
  {{.}}
  {{/pollsRemoved}}

</body>
</html>
