<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
    <title>Create A Poll</title>
</head>
<body>
<div class="container-fluid">
    <h1>Pollz</h1>
    <h3>Create Your Poll</h3>
    <hr>
    <form action="/create-poll" method="post">
        <input type="text" placeholder="Name of Your poll" name="pollName"/>
        <input type="text" placeholder="Topic of Your poll" name="topic"/>
        <input type="text" placeholder="Response A" name="responseA"/>
        <input type="text" placeholder="Response B" name="responseB"/>
        <input type="text" placeholder="Response C" name="responseC"/>
        <input type="text" placeholder="Response D" name="responseD"/>
        <input type="text" placeholder="Response E" name="responseE"/>
        <input type="text" placeholder="Response F" name="responseF"/>
        <input type="number" placeholder="Poll Expiration" name="userTimeToLive"/>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>

    <form action="/take-poll" method="get">
        <button type="submit" class="btn btn-info">Take A Poll</button>
    </form>

    <form action="/get-polls" method="get">
        <button type="submit" class="btn btn-info">See Your Polls</button>
    </form>

    <form action="/" method="get">
        <button type="submit" class="btn btn-info">Home</button>
    </form>
</div>
</body>
</html>
