<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create A Poll</title>
</head>
<body>

<form action="create-poll" method="post">
    <input type="text" placeholder="Name of Your poll" name="pollName"/>
    <input type="text" placeholder="Topic of Your poll" name="topic"/>
    <input type="text" placeholder="Response A" name="responseA"/>
    <input type="text" placeholder="Response B" name="responseB"/>
    <input type="text" placeholder="Response C" name="responseC"/>
    <input type="text" placeholder="Response D" name="responseD"/>
    <input type="text" placeholder="Response E" name="responseE"/>
    <button type="submit">Create a Poll</button>
</form>

<form action="/take-poll" method="get">
    <button type="submit">Take A Poll</button>
</form>

<form action="/get-polls" method="get">
    <button type="submit">See Your Polls</button>
</form>
<form action="/profile" method="get">
    <button type="submit">Edit Profile</button>
</form>
</body>
</html>