<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
    <title>Edit Profile</title>
</head>
<body>

<h3>Pollz</h3>

Current profile information:
{{#user}}
User name: {{name}}
Country: {{country}}
City: {{city}}
Zip: {{zip}}
{{/user}}

Edit your profile:
<form action="/edit-profile" method="post">
    <input type="text" placeholder="Enter your country" name="country"/>
    <input type="text" placeholder="Enter your city" name="city"/>
    <input type="text" placeholder="enter your zip" name="zip"/>
    {{#show}}
    <input type="text" placeholder="current password" name="currentPassword"/>
    <input type="text" placeholder="please enter your new password" name="newPassword1"/>
    <input type="text" placeholder="Enter your new password once again" name="newPassword2"/>
    {{/show}}
    <button type="submit">Update profile information</button>
</form>

<form action="/profile" method="get">
    <input type="hidden" value="show" name="show"/>
    <button type="submit">Edit password</button>
</form>





<form action="/" method="get">
    <button type="submit">Home</button>
</form>

</body>
</html>
