<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poll</title>
</head>
<body>
{{#poll}}
<form action="/take-poll" method="get">
    <button type="submit">Take A Poll</button>
</form>

<form action="/get-polls" method="get">
    <button type="submit">See Your Polls</button>
</form>

<form action="/create-poll" method="get">
    <button type="submit">Create A Poll</button>
</form>

<form action="/profile" method="get">
    <button type="submit">Edit Profile</button>
</form>
{{/poll}}
</body>
</html>