<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Poll</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
</head>
<body>
<div class="container-fluid">
    <h1>Pollz</h1>

    {{#poll}}
    <h3>{{pollName}}</h3>
    <h4>{{pollTopic}}</h4>
    <hr>
    THE POLL RESULTS

    {{#responseA}}{{responseA}}: {{a}}{{/responseA}}
    {{#responseB}}{{responseB}}: {{b}}{{/responseB}}
    {{#responseC}}{{responseC}}: {{c}}{{/responseC}}
    {{#responseD}}{{responseD}}: {{d}}{{/responseD}}
    {{#responseE}}{{responseE}}: {{e}}{{/responseE}}
    {{#responseF}}{{responseF}}: {{f}}{{/responseF}}
    {{#expired}}{{expired}}: {{expired}}{{/expired}}
    {{/poll}}
    <form action="/take-poll" method="get">
        <button type="submit" class="btn btn-info">Take A Poll</button>
    </form>

    <form action="/get-polls" method="get">
        <button type="submit" class="btn btn-info">See Your Polls</button>
    </form>

    <form action="/create-poll" method="get">
        <button type="submit" class="btn btn-info">Create A Poll</button>
    </form>

    <form action="/" method="get">
        <button type="submit" class="btn btn-info">Home</button>
    </form>

</div>
</body>
</html>
