<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
    <title>Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css"/>
</head>
<body id="body">

<h3 id="title">Pollz</h3>

<form action="/create-profile" method="post" id="register">
    <input type="text" placeholder="Enter your name" name="userName" id="fields"/>
    <input type="password" placeholder="Enter your new password" name="newpassword" id="fields"/>
    <input type="text" placeholder="Enter your country" name="country" id="fields"/>
    <input type="text" placeholder="Enter your city" name="city" id="fields"/>
    <input type="text" placeholder="enter your zip" name="zip" id="fields"/>
    <button type="submit" id="button">Update profile information</button>
</form>

<form action="/" method="get" id="home">
    <button type="submit">Home</button>
</form>
</body>