<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Take A Poll</title>
</head>
<body>

<!--

each response is a selectable option
user can only select one option
when user selects an option, answer is not submitted automatically
user needs to hit submit to submit answer

-->

{{#poll}}
{{id}}
{{topic}}
<form action="/submit-answer" method="post">
    <input type="hidden" value="{{user.id}}" name="userid"/>
    <input type="hidden" value="{{topic}}" name="topic"/>
    <input type="hidden" value="{{id}}" name="pollid"/>
    <select name="Answer">
        <option selected disabled>Answer</option>
        {{#responseA}} <option value="{{responseA}}">{{responseA}}</option>{{/responseA}}
        {{#responseB}} <option value="{{responseB}}">{{responseB}}</option>{{/responseB}}
        {{#responseC}} <option value="{{responseC}}">{{responseC}}</option>{{/responseC}}
        {{#responseD}} <option value="{{responseD}}">{{responseD}}</option>{{/responseD}}
        {{#responseE}} <option value="{{responseE}}">{{responseE}}</option>{{/responseF}}
        {{#responseF}} <option value="{{responseF}}">{{responseF}}</option>{{/responseF}}
    </select>
</form>
{{/poll}}

<form action="/take-poll" method="get">
    <button type="submit">Take Another Poll</button>
</form>

<form action="/create-poll" method="get">
    <button type="submit">Create A Poll</button>
</form>
</body>
</html>