<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserPolls</title>
</head>
<body>

<!-- need to get the polls associated with the user here  -->
<!-- like purchases -->
<!-- use poll id to generate stats for that individual poll -->

<ol>
    {{#polls}}
    <li>

        <form action="/get-poll" method="get">
            <button type="submit" value="{{id}}" name="id">{{pollName}}</button>
        </form>

    </li>
    {{/polls}}
</ol>

<form action="/take-poll" method="get">
    <button type="submit">Take A Poll</button>
</form>

<form action="/create-poll" method="get">
    <button type="submit">Create A Poll</button>
</form>

<form action="/" method="get">
    <button type="submit">Home</button>
</form>

</body>
</html>